*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
__pycache__
data
./output
submodules/tcgs_rasterizer/build
*.log
*.nsys-rep
*.sqlite
kill.sh
train_flower.sh
eval_grad.sh
render_back.py
